---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <div></div>
</Layout>

<script>
  (async () => {
    const response_data = await fetch(
      'https://raw.githubusercontent.com/opencovidit/pcm-dpc-COVID-19/refs/heads/master/dati-json/dpc-covid19-ita-regioni.json'
    );
    const datiJson_data = await response_data.json();
    const Abruzzo = datiJson_data.filter(
      (item: { denominazione_regione: string }) =>
        item.denominazione_regione === 'Abruzzo'
    );
    const tamponi = Abruzzo.map(function (e: { tamponi: any }) {
      return e.tamponi;
    });
    /* console.log(tamponi); */
  })();
</script>
