---
import BaseLayout from '../layouts/BaseLayout.astro';
import ChartJS from '../components/ChartJS.astro';
export function getStaticPaths() {
  return [
    { params: { regione: 'abruzzo' } },
    { params: { regione: 'basilicata' } },
    { params: { regione: 'calabria' } },
    { params: { regione: 'campania' } },
    { params: { regione: 'emilia-romagna' } },
    { params: { regione: 'friuli-venezia-giulia' } },
    { params: { regione: 'lazio' } },
    { params: { regione: 'liguria' } },
    { params: { regione: 'lombardia' } },
    { params: { regione: 'marche' } },
    { params: { regione: 'molise' } },
    { params: { regione: 'pa-bolzano' } },
    { params: { regione: 'pa-trento' } },
    { params: { regione: 'piemonte' } },
    { params: { regione: 'puglia' } },
    { params: { regione: 'sardegna' } },
    { params: { regione: 'sicilia' } },
    { params: { regione: 'toscana' } },
    { params: { regione: 'umbria' } },
    { params: { regione: 'valle-d-aosta' } },
    { params: { regione: 'veneto' } },
  ];
}
const { regione } = Astro.params;
const nomeRegione =
  Astro.params.regione.charAt(0).toUpperCase() + Astro.params.regione.slice(1);
---

<BaseLayout>
  <div class="container">
    <h2 id="nome-regione"></h2>
    <canvas id="tamponi"></canvas>
  </div>
</BaseLayout>
<ChartJS />

<script>
  (async () => {
    const response_data = await fetch(
      'https://raw.githubusercontent.com/opencovidit/pcm-dpc-COVID-19/refs/heads/master/dati-json/dpc-covid19-ita-regioni.json'
    );
    const datiJson_data = await response_data.json();
    const regioneData = datiJson_data.filter(
      (item: { codice_regione: number }) => item.codice_regione === 13
    );

    const nomeRegione = regioneData[0].denominazione_regione;
    document.getElementById('nome-regione').innerText = nomeRegione;

    /* const nomeRegione = regioneData.denominazione_regione; */

    const data = regioneData.map(function (e: { data: any }) {
      return e.data;
    });

    const tamponi = regioneData.map(function (e: { tamponi: any }) {
      return e.tamponi;
    });

    const ctx = document.getElementById('tamponi');

    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: data,

        datasets: [
          {
            label: 'Tamponi',
            backgroundColor: '#2a87cc',
            data: tamponi,
            fill: false,
          },
        ],
      },
    });
  })();
</script>
