---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div style="padding-top: 100px; padding-bottom: 100px">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
            quisquam voluptates minima facere provident molestiae animi ipsum
            mollitia molestias omnis, iusto consequuntur voluptas maiores ex
            quod! Nostrum possimus, quidem voluptatum eius aliquid accusamus
            debitis animi necessitatibus. Sed repudiandae ea iure eveniet est
            vel praesentium consequatur modi, quaerat minus non voluptas id amet
            deserunt obcaecati excepturi asperiores neque accusamus! Aspernatur
            non necessitatibus, nam deleniti beatae dolore harum accusantium
            iste recusandae inventore! Voluptas sint facere eaque cupiditate
            ducimus esse vero tempore amet sequi itaque consectetur
            exercitationem, dolorem fuga aliquam expedita nisi vitae inventore
            quasi perferendis, placeat magnam quibusdam autem recusandae
            quaerat? Aperiam!
          </p>
        </div>
        <div class="col-sm">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
            quisquam voluptates minima facere provident molestiae animi ipsum
            mollitia molestias omnis, iusto consequuntur voluptas maiores ex
            quod! Nostrum possimus, quidem voluptatum eius aliquid accusamus
            debitis animi necessitatibus. Sed repudiandae ea iure eveniet est
            vel praesentium consequatur modi, quaerat minus non voluptas id amet
            deserunt obcaecati excepturi asperiores neque accusamus! Aspernatur
            non necessitatibus, nam deleniti beatae dolore harum accusantium
            iste recusandae inventore! Voluptas sint facere eaque cupiditate
            ducimus esse vero tempore amet sequi itaque consectetur
            exercitationem, dolorem fuga aliquam expedita nisi vitae inventore
            quasi perferendis, placeat magnam quibusdam autem recusandae
            quaerat? Aperiam!
          </p>
        </div>
        <div class="col-sm">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
            quisquam voluptates minima facere provident molestiae animi ipsum
            mollitia molestias omnis, iusto consequuntur voluptas maiores ex
            quod! Nostrum possimus, quidem voluptatum eius aliquid accusamus
            debitis animi necessitatibus. Sed repudiandae ea iure eveniet est
            vel praesentium consequatur modi, quaerat minus non voluptas id amet
            deserunt obcaecati excepturi asperiores neque accusamus! Aspernatur
            non necessitatibus, nam deleniti beatae dolore harum accusantium
            iste recusandae inventore! Voluptas sint facere eaque cupiditate
            ducimus esse vero tempore amet sequi itaque consectetur
            exercitationem, dolorem fuga aliquam expedita nisi vitae inventore
            quasi perferendis, placeat magnam quibusdam autem recusandae
            quaerat? Aperiam!
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
