---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div style="padding-top: 100px; padding-bottom: 100px">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus
          doloremque fuga expedita aspernatur, ipsam, suscipit similique in,
          officiis animi quo corrupti. Dolorum aspernatur ad quidem sequi
          tempora possimus veritatis, doloremque iste alias numquam ea ex, velit
          earum. In, iure ipsa debitis, porro maxime eos aliquam officia
          molestias placeat ducimus suscipit? Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Ducimus doloremque fuga expedita
          aspernatur, ipsam, suscipit similique in, officiis animi quo corrupti.
          Dolorum aspernatur ad quidem sequi tempora possimus veritatis,
          doloremque iste alias numquam ea ex, velit earum. In, iure ipsa
          debitis, porro maxime eos aliquam officia molestias placeat ducimus
          suscipit?
        </div>
        <div class="col-sm">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus
          doloremque fuga expedita aspernatur, ipsam, suscipit similique in,
          officiis animi quo corrupti. Dolorum aspernatur ad quidem sequi
          tempora possimus veritatis, doloremque iste alias numquam ea ex, velit
          earum. In, iure ipsa debitis, porro maxime eos aliquam officia
          molestias placeat ducimus suscipit? Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Ducimus doloremque fuga expedita
          aspernatur, ipsam, suscipit similique in, officiis animi quo corrupti.
          Dolorum aspernatur ad quidem sequi tempora possimus veritatis,
          doloremque iste alias numquam ea ex, velit earum. In, iure ipsa
          debitis, porro maxime eos aliquam officia molestias placeat ducimus
          suscipit?
        </div>
        <div class="col-sm">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus
          doloremque fuga expedita aspernatur, ipsam, suscipit similique in,
          officiis animi quo corrupti. Dolorum aspernatur ad quidem sequi
          tempora possimus veritatis, doloremque iste alias numquam ea ex, velit
          earum. In, iure ipsa debitis, porro maxime eos aliquam officia
          molestias placeat ducimus suscipit? Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Ducimus doloremque fuga expedita
          aspernatur, ipsam, suscipit similique in, officiis animi quo corrupti.
          Dolorum aspernatur ad quidem sequi tempora possimus veritatis,
          doloremque iste alias numquam ea ex, velit earum. In, iure ipsa
          debitis, porro maxime eos aliquam officia molestias placeat ducimus
          suscipit?
        </div>
      </div>
    </div>
  </div>
</Layout>
