---
import 'bootstrap-italia/dist/css/bootstrap-italia.min.css';
import BootstrapJS from '../components/BootstrapJS.astro';
import Megamenu from '../components/Megamenu.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>Covid Italia</title>
  </head>
  <body>
    <!-- Megamenu -->
    <Megamenu />
    <!-- Slot Start-->
    <slot />
    <!-- Slot Stop-->
    <!-- Footer -->
    <Footer />
    <!-- BootstrapJS -->
    <BootstrapJS />
  </body>
</html>
