---
import '../styles/bootstrap-italia.min.css';
import '../styles/global.css';
---

<!doctype html>
<html lang="it">
  <head>
    <!-- Preload font variable (copre tutti i pesi) -->
    <link
      rel="preload"
      href="/fonts/Inter-VariableFont_opsz,wght.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="icon"
      href="icons/hygiene-and-disinfection-4/png/coronavirus.png"
      type="image/png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Covid Italia</title>
  </head>
  <body>
    <!-- Slot Start-->
    <slot />
    <!-- Slot Stop-->
    <!-- Bootstrap ItaliaJS -->
    <script src="../js/bootstrap-italia.bundle.min.js"></script>
  </body>
</html>
